body {
    font-family: 'Montserrat', sans-serif;
}

.content__title {
 text-align: center;
 font-size: 45px;
}

.grade__item {
    float: left;
    box-sizing: border-box;
    text-align: center;
    margin: 5px, ;
    min-width: 350px;
    max-width: 960px;
    height: 150px;
    padding: 10px;
}

